body{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header, footer{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #007bff;
  color: white;
}

section{ 
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

footer{
  height: 50px;
}

a:hover{
  text-decoration: none;
}

#editor-box{
  width: 877px;
  height: 620px;
  padding: 0px 0px 0px 0px;
  box-shadow: 5px 5px 5px gray;
  border: 1px solid #888;
  z-index: 0;
}

#editor{
  padding: 75px 75px 75px 75px;
  height: 468px;
  overflow: auto;
  resize: none;
  border: none;
}

#editor p{
  margin: 0px;
}

#editor blockquote{
  margin: 0 0 0 40px;
  border: none;
  padding: 0px;
}

#editor-bg{
  position: absolute;
  width: 877px;
  height: 620px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  z-index: -1;
  visibility: hidden;
}

#input-editor{
  visibility: hidden;
}