<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Certifier</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet prefetch" href="static/css/font-awesome.css" type="text/css">
  <link rel="stylesheet" href="static/css/home.css" type="text/css">
  <link rel="stylesheet" href="static/css/jqx.base.css" type="text/css" />
  <link rel="stylesheet" href="static/css/jqx.arctic.css" type="text/css" />

  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/home.js"></script>
  <script type="text/javascript" src="static/js/jqxcore.js"></script>
  <script type="text/javascript" src="static/js/jqxbuttons.js"></script>
  <script type="text/javascript" src="static/js/jqxscrollbar.js"></script>
  <script type="text/javascript" src="static/js/jqxlistbox.js"></script>
  <script type="text/javascript" src="static/js/jqxdropdownlist.js"></script>
  <script type="text/javascript" src="static/js/jqxdropdownbutton.js"></script>
  <script type="text/javascript" src="static/js/jqxcolorpicker.js"></script>
  <script type="text/javascript" src="static/js/jqxwindow.js"></script>
  <script type="text/javascript" src="static/js/jqxeditor.js"></script>
  <script type="text/javascript" src="static/js/jqxtooltip.js"></script>
  <script type="text/javascript" src="static/js/jqxcheckbox.js"></script>

  <body>
    <header class="text-center">
      <h1>
        <i>Certifier</i>
      </h1>
      <small>A web application developed in Go to create and send bulk certificates</small>
    </header>
    {{if .ThisIs}}
      <p>{{ .Msg}}</p>
    {{else}}
    <form method="post" enctype="multipart/form-data">
      <section class="col-sm-12">
        <h2>1. Criar Modelo</h2>
        <div class="row" style="display: inline-block">
          <div class="col-sm-7" style="display: inline-block">
            <label for="input-bg" class="custom-file-label text-left">
              <small>Selecione uma imagem de fundo</small>
            </label>
            <input name="input-bg" id="input-bg" type="file" class="custom-file-input" accept="image/gif, image/jpeg, image/png">
          </div>
          <div class="col-sm-1" style="display: inline-block">
            <button id="remove-bg" class="btn" type="button">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div style="display: inline-block">
            <p>Dica:
              <a href="https://materiais.even3.com.br/templates-de-certificados">Templates de Certificados</a>
            </p>
          </div>
        </div>
        <br>
        <br>
        <div id="editor-box" style="display: inline-block">
          <div style="display: flex;">
              <img id="editor-bg" src="#">
          </div>
          
          <div id="editor" contenteditable="true">
            <div>
              <br>
            </div>
            <div>
              <br>
            </div>
            <div align="center">
              <font size="5" face="Arial, Helvetica, sans-serif">
                <br>
              </font>
            </div>
            <div align="center">
              <font size="5" face="Arial, Helvetica, sans-serif">
                <br>
              </font>
            </div>
            <div align="center">
              <font size="5" face="Arial, Helvetica, sans-serif">Certifico que {[Nome]} participou do I Congresso Norte Americano de Letras na cidade de Recife, no período
                de 10/04/2018 a 12/04/2018 totalizando uma carga horária de 20 horas.</font>
              <br>
            </div>
          </div>
          <textarea name="input-editor" id="input-editor">
            <div>
              <br>
            </div>
            <div>
              <br>
            </div>
            <div align="center">
              <font size="5" face="Arial, Helvetica, sans-serif">
                <br>
              </font>
            </div>
            <div align="center">
              <font size="5" face="Arial, Helvetica, sans-serif">
                <br>
              </font>
            </div>
            <div align="center">
              <font size="5" face="Arial, Helvetica, sans-serif">Certifico que {[Nome]} participou do I Congresso Norte Americano de Letras na cidade de Recife, no período
                de 10/04/2018 a 12/04/2018 totalizando uma carga horária de 20 horas.</font>
              <br>
            </div>
          </textarea>
      </section>
      <section class="col-sm-12">
        <h2>2. Importar Participantes</h2>
        <label for="input-table">Copie o conteúdo da planilha excel, incluindo os cabeçalhos e cole aqui</label><br>
        <textarea name="input-table" id="input-table" class="form-control" rows="10" style="display: inline-block"></textarea>
      </section>
      <section class="col-sm-12" style="display: inline-block">
        <h2>3. Enviar Certificados</h2>
        <button class="btn btn-primary btn-lg" id="submit-content" type="submit">Enviar por e-mail</button>
      </section>
    </form>

    <footer class="text-center">
      © silvnt
    </footer>

    {{end}}

  </body>

</html>